/**/
.main_body {

    font-family: cursive;
}

/**/
#main_footer_configuration {

    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

/**/
.footer_image {

    cursor: pointer;
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
          transition: transform 0.8s ease-in-out;
}

/**/
.footer_image:hover {

    -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/**/
.footer_image {

    color: red !important;
    font-family: cursive !important;
}

/**/
.error_displayer {

    color: red;
    font-family: cursive;
}

/**/
#main_table {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
}

/**/
#main_page_title {

    color: red;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: help;
}

/**/
#main_page_subtitle {

    margin-bottom: 1em;
    cursor: help;
}

/**/
.main_alignement {

    text-align: center;
}

/**/
.main_app_presentation_tooltip_styling {

    font-family: cursive !important;
    font-size: 2.5em !important;
    color: red !important;
    max-width: 10000em !important;
    max-height: 10000em !important;
}

/**/
.main_emoji_image_tooltip_styling {

    font-family: cursive !important;
    font-size: 2.5em !important;
    color: red !important;
    max-width: 5000em !important;
    max-height: 5000em !important;
    text-align: center !important;
}

/**/
.main_emoji_image {

    cursor: help;
}

/**/
.ui-dialog-titlebar-close {
    visibility: hidden;
}