/**/
.main_body {

    font-family: cursive;
}

/**/
#main_table {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
}

/**/
#main_page_title {

    color: red;
    margin-top: 1em;
    margin-bottom: 1em;
}

/**/
#main_page_subtitle {

    margin-bottom: 1em;
}

/**/
.main_alignement {

    text-align: center;
}

/**/
.main_tooltip-styling {

    font-family: cursive !important;
    font-size: 2.5em !important;
    color: red !important;
}

/**/
.main_emoji_image {

    cursor: help;
}