{{define "error"}}

	{{template "header"}}

				<title>{{.Title}}</title>
            </head>
        <body>

			<div id="error_dialog" title="Basic error">

	   			<p class="error_displayer">Error occured because of a wrong URL... To access the application, <a href="http://localhost" id="error_redirection_link">just click here</a>...</p>

				{{template "footer"}}

			</div>

	{{template "end"}}

{{end}}
