{{define "error"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="icon" href="../assets/images/favicon.png" type="image/png">
        <link rel="stylesheet" href="../assets/css/error.css">
		<title>{{.Title}}</title>
	</head>
	<body>
	   <p class="error">Error occured...</p>
	</body>
</html>
{{end}}