{{define "footer"}}        
        
            <footer>
                <img src='../assets/images/gitHub.png' class='navbar-brand footer_image' alt='GitHub logo' title='To see this web application on GitHub' width='40' height='50'>
                <img src='../assets/images/docker.png' class='navbar-brand footer_image' alt='Docker logo' title='To see this web application on Docker Hub' width='55' height='55'>
            </footer>

{{end}}