{{define "footer"}}        
        
            <footer>
                <img src='../assets/images/GitHub.png' class='footer_image' alt='GitHub logo' width='35' height='35'>
            </footer>

{{end}}