{{define "main"}}

    {{template "header"}}

                <title>{{.Title}}</title>
            </head>
        <body class="main_body">
            <h1 id="main_page_title" class="main_alignement">{{.Title}}</h1>
            <h2 id="main_page_subtitle" class="main_alignement">🧮 ⚓ 🥈 🚡 🥇 🇦🇸 🥑 ⚗️ 🉑 🥉 ⚕️ 🧑‍🚀 🇳🇷 🐙 🎠 🛠️ 🗾 📽️ 🎞️ 🇮🇴 🎰 ☦️ 🇰🇵 🇲🇵 🩹 🚡 👶 ⚔️ 🥖 🇦🇲 ⏰ 🐱 😽 💕 🇦🇱 🇦🇽 💪 🥄 🇧🇸 ♒ 🚑 🐤 👽 🇦🇸 🏺 💢 👼 🏀 🚲 👙 🎱 🔋 🎹 🎵 🐜 📆 🌇 🍎 🇦🇶 💔 👾 🧬 🪕 🇯🇪 🤖 ☄️ 🌃 ♾️ ℹ️</h2>
            <div>
                    <table class="table table-responsive" id="main_table">
                        <thead>
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $key, $value := .ListOfEmojisFromGitHub }}
                                <tr><td><img src='{{ $value }}' alt='{{ $key }}' width='64' height='64'></td><td>{{ $key }}</td></tr>
                            {{ end }}
                        </tbody>
                    </table>
            </div>

        {{template "footer"}}

{{end}}
